/* Version 1.5 */

/*Elemente für den Druck ausblenden*/
.no_web { display: none; }

/* Hauptnavigation */

.hauptnavigation {
      width:200px;
      display: block;
      border-top: 1px solid #AFAFAF;
      }

.navigationspunkt {
      border-bottom: 1px solid #AFAFAF;
      padding-bottom: 1px;
      }

.navigation_aktiv {
      color: #000000;
      background-color: #D2D2C8;
      background-color: #CECEC2;
    }

.hauptnavigation a:link, .hauptnavigation a:visited {
      display: block;
      width: 200px;
      text-decoration:none;
      color:#000000;
      margin-top: 1px;
    }

.hauptnavigation a:hover {
      color: #000000;
      background-color: #DCDCD3;
    }

.hauptnavigation h1 {
      font-size: 1.1em;
      text-transform: uppercase;
      font-weight: normal;
      margin: 0px 0px 0px 0px;
      padding-left: 2px;
      padding-bottom: 5px;
      padding-top: 5px;
    }

.hauptnavigation h2 {
      clear: both;
      font-size: 1em;
      font-weight: normal;
      padding: 2px 0px 5px 15px;
      margin: 0px;
      margin-top: 0px;
    }

.hauptnavigation h3 {
      clear: both;
      font-size: 0.9em;
      font-weight: normal;
      padding:2px 0px 5px 30px;
      margin: 0px;
      margin-top: 0px;
    }

/* Navigationspfad */

.navigationspfad {
      padding-top: 7px;
      font-size: .8em;
      color:#7E7E7E;
      }

.navigationspfad a {
      color:#7E7E7E;
      }

.navigationspfad a:hover {
      color:#3BA328;
      }
     
/* Funktionsbereich */

.funktionsbereich a:link, .funktionsbereich a:visited {
      text-decoration: none;
      color:#006633;
      }

.funktionsbereich a:hover {
      text-decoration: underline;
      }

/* Funktionen */

.funktionen {
      padding: 0px;
      font-size: .8em;
      font-weight: bold;
      text-decoration: none;
      color:#6B6C6F;
    }

/* Sprachumschaltung */

.sprachumschaltung {
      text-align: right;
      font-size: .8em;
      font-weight: bold;
      padding: 0px;
      color:#6B6C6F;
      }

/* Suche */

.suche {
      float: left;
      font-weight: bold;
      text-align: left;
      font-size: .8em;
      color:#6B6C6F;
      vertical-align: text-top;
    }

.suche form {
      margin: 0px;
      padding: 0px;
      vertical-align: text-top;
      }

.suche input {
      margin: 0px;
      padding: 0px;
      vertical-align: text-top;
      }

.suchfeld {
      width:115px;
      height: 18px;
      border:1px solid #808285;
      background-color: #FFFFFF;
      color:#6B6C6F;
      font-size: 1.1em;
      vertical-align: text-top;
      }

.ueberschrift_link {
      width: 100%;
      }

.ueberschrift {
      float: left;
      }

.suchtipps {
      padding-top: 10px;
      float: right;
      }

/* Index */

.index_register {
      text-align: center;
      margin-bottom: 20px;
      margin-top: 15px;
      font-size: 1em;
      font-weight: bold;
      color: #7E7E7E;
      }

.index_liste {
      font-size: .9em;
      margin: 0px;
      margin-left: 18px;
      margin-top: 2px;
      .margin-top: 3px;
      }


/* Login */

.login  {
      text-decoration: none;
      font-size: .8em;
      font-weight: normal;
      color:#6B6C6F;
      }
      
.login a  {
      font-weight: bold;
      }      

.eingeloggt {
      float: left;
      color: #7A7979;
      font-weight: normal;
      }


/* Content */

.inhaltsbereich p {
      padding: 0px;
      margin-top: 0px;
      margin-bottom: 15px;
      }

.inhaltsbereich .url_suche a:link {
      font-size: .8em;
      margin-bottom: 55px;
      }

.inhaltsbereich .url_suche a:visited {
      font-size: .8em;
      margin-bottom: 55px;
      }

.inhaltsbereich table {
      width: 535px;
      margin-top:8px;
      margin-bottom:12px;
      font-size: .9em;
      border-collapse: collapse;
      }    
      
.inhaltsbereich div table {
      width: auto;
      }
      
#inhaltsbereich_ohneservice .inhaltsbereich table {
      width: 735px;
      margin-top:8px;
      margin-bottom:12px;
      font-size: .9em;
      border-collapse: collapse;
      }            

.inhaltsbereich div.eingerueckt table {
      width: 515px;
      }
    
#inhaltsbereich_ohneservice .inhaltsbereich div.eingerueckt table {
      width: 715px;
      }    

.inhaltsbereich caption {
      margin-top:8px;
      font-weight:bold;
      text-align: center;
      padding: 3px;
      font-weight:bold;
      }

.inhaltsbereich th {
      vertical-align: top;
      padding: 3px;
      border: 2px solid #EFEFE9;
      text-align: left;
      background-color: #DCDCD3;
      }

.inhaltsbereich td {
      vertical-align: top;
      padding: 3px;
      border: 2px solid #EFEFE9;
      background-color: #DCDCD3;    
      }

.inhaltsbereich td.linie {
      background-color: #AFAFAF;
      margin-bottom: 2px;
      margin-top: 2px;
      height: 1px;
      padding: 0px;
      }

.inhaltsbereich .tabellerahmenlos td {
      border: none;
      background-color: transparent;
      text-align: left;
      padding: 3px;
      }

.inhaltsbereich .tabellerahmenlos th {
      border: none;
      background-color: transparent;
      font-weight: bold;
      color: #000000;
      text-align: left;
      padding: 3px;
      }

.inhaltsbereich .tabellerahmenlos table {
    width: auto;
      }

.inhaltsbereich a:link {
      text-decoration:underline;
      color:#006633;
      }

.inhaltsbereich a:visited {
      text-decoration:underline;
      color:#668866;
      }

.inhaltsbereich a:hover {
      text-decoration:underline;
      color:#006633;
      }

.inhaltsbereich h1 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 1.2em;
      font-weight:bold;
      color: #000000;
      clear: both;
      }

.inhaltsbereich h2 {
      margin-top: 12px;
      margin-bottom: 6px;
      font-size: 1em;
      font-weight:bold;
      color: #333333;
      clear: both;
      }

.inhaltsbereich h3 {
      margin-top: 10px;
      margin-bottom: 4px;
      font-size:1em;
      font-weight:bold;
      color: #666666;
      }

.inhaltsbereich h4 {
      margin-top: 8px;
      margin-bottom: 2px;
      font-weight:normal;
      font-size: 1em;
      color: #666666;
      }

.inhaltsbereich h5 {
      margin-top: 8px;
      margin-bottom: 0px;
      font-size: .9em;
      font-weight:normal;
      color: #7A7979;
      }

.inhaltsbereich h6 {
      margin-top: 6px;
      margin-bottom: 0px;
      font-size: .8em;
      font-style:italic;
      font-weight:normal;
      color: #7A7979;
      }

.inhaltsbereich ul {
      list-style-type:none;
      padding: 0px;
      margin-left: 20px;
      margin-top: 8px;
      margin-bottom: 15px;
      }

.inhaltsbereich ul li {
      background-image:url(../layout/symbole/square.gif);
      background-repeat: no-repeat;
      padding-left: 14px;
      }
    
.inhaltsbereich .download {
      background-image: url(../layout/symbole/download.gif);
      background-repeat: no-repeat;
      padding-left: 14px;
      }    
    
.inhaltsbereich .pdf {
      background-image: url(../layout/symbole/pdf.gif);
      background-repeat: no-repeat;
      padding-left: 14px;
      }    
    
.inhaltsbereich .doc {
      background-image: url(../layout/symbole/word.gif);
      background-repeat: no-repeat;
      padding-left: 14px;
      }
      
.inhaltsbereich .ppt {
      background-image: url(../layout/symbole/powerpoint.gif);
      background-repeat: no-repeat;
      padding-left: 14px;
      }      
    
.inhaltsbereich .xls {
      background-image: url(../layout/symbole/excel.gif);
      background-repeat: no-repeat;
      padding-left: 14px;
      }
    
.inhaltsbereich .zip {
      background-image: url(../layout/symbole/zip.gif);
      background-repeat: no-repeat;
      padding-left: 14px;
      }    
    
.inhaltsbereich .audio {
      background-image: url(../layout/symbole/audio.gif);
      background-repeat: no-repeat;
      padding-left: 14px;
      }
    
.inhaltsbereich .video {
      background-image: url(../layout/symbole/video.gif);
      background-repeat: no-repeat;
      padding-left: 14px;
      }                
      
.inhaltsbereich .mail {
      background-image: url(../layout/schaltflaechen/mail.gif);
      background-repeat: no-repeat;
      padding-left: 14px;
      }       

.inhaltsbereich ul ul li {
      background-image:url(../layout/symbole/square_small.gif);
      padding-left: 14px;
      margin-bottom: 0px;
      }

.inhaltsbereich ol {
      padding-left: 20px;
      margin-left: 20px;
      .margin-left: 23px;
      margin-top: 8px;
      margin-bottom: 15px;
      }

.inhaltsbereich li {
      font-size: 1em;
      margin-bottom: 3px;
      }

.inhaltsbereich form {
      padding:15px;
      padding-top: 5px;
      margin-top: 8px;
      margin-bottom: 15px;
      background-color: #DCDCD3;
      clear: both;
      font-size: 1em;
     }
     
.inhaltsbereich form table {
      width: 505px;
      }          

.inhaltsbereich form h1 {
      margin-top: 10px;
      margin-bottom: 2px;
      font-size:.9em;
      font-weight: normal;
      clear: none;
      }
      
.inhaltsbereich form h2 {
      margin-top: 6px;
      margin-bottom: 2px;
      font-size:.9em;
      font-weight: normal;
      clear: none;
      }
      

.inhaltsbereich input, .inhaltsbereich textarea {
      color:#3C3C3C;
      font-size: .9em;
      border:1px solid #808285;
      background-color: #FFFFFF;
      }
      
.inhaltsbereich input.radio, .inhaltsbereich input.checkbox {
      color:#3C3C3C;
      border: none;
      background-color: transparent;
      }
      
.inhaltsbereich select {
      background-color: #FFFFFF;
      color:#3C3C3C;
      }

.inhaltsbereich .eingabefeld {
      width: 500px;
      border:1px solid #808285;
      background-color: #FFFFFF;
      color:#3C3C3C;
      }

.inhaltsbereich input.login_passwort, input.zweispaltig, select.zweispaltig {
      width: 240px;
      margin-top: 5px;
      border:1px solid #808285;
      background-color: #FFFFFF;
      color:#3C3C3C;
      }

.inhaltsbereich input.suche_lang {
      width: 230px;
      margin-top: 5px;
      }

.inhaltsbereich input.suche_kurz {
      border:1px solid #808285;
      background-color: #FFFFFF;
      color:#3C3C3C;
      }

.inhaltsbereich textarea{
      height: 50px;
      border:1px solid #808285;
      background-color: #FFFFFF;
      font-family: Verdana, Arial, Helvetica, "Sans Serif";   
      }   
      
.inhaltsbereich textarea.zweispaltig {
      width: 240px;
      }                  

.inhaltsbereich button {
      height: 18px;
      text-align: center;
      vertical-align: text-bottom;
      .vertical-align: baseline;
      border: 1px solid #808285;
      background-color: #FFFFFF;
      font-size: .9em;
      margin-top: 10px;
      }

.inhaltsbereich select {
      margin-bottom: -1px;
      }

.inhaltsbereich div.eingerueckt {
      margin: 0px;
      margin-left: 20px;      
      }

.inhaltsbereich div.eingerueckt ul {
      margin-left: 0px;
      margin-bottom: 5px;
      }

.inhaltsbereich .printlink {
      clear: both;
      float: left;
      margin-top: 20px;
      margin-right: 0px;
      margin-bottom: 5px;
      } 
            
.inhaltsbereich .toplink {
      text-align: right;
      float: right;
      margin-top: 20px;
      margin-right: 0px;
      margin-bottom: 5px;
      }          

.inhaltsbereich .mitarbeiter {
      margin-bottom: 15px;
      }

.inhaltsbereich .leiste {
      border-top: 1px solid #AFAFAF;
      margin-bottom: 0px;
      margin-top: 5px;
      clear: both;
      }

.inhaltsbereich div.titelleiste {
      border-top: 1px solid #AFAFAF;      
      color: #000000;
      text-transform: uppercase;
      margin-bottom: 5px;
      margin-top: 30px;
      font-size: 1em;
      padding: 3px;
      padding-left: 0px;
      padding-top: 2px;
      clear: both;
      }

.inhaltsbereich div.titelleiste_ohne_linie {
      color: #000000;
      text-transform: uppercase;
      margin-bottom: 5px;
      margin-top: 30px;
      font-size: 1em;
      padding: 3px;
      padding-left: 0px;
      padding-top: 2px;
      }

.inhaltsbereich div.startseitenleiste {
      border-top: 1px solid #AFAFAF;
      color: #000000;
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 0px;
      font-size: 1em;
      padding: 3px;
      padding-left: 0px;
      padding-top: 2px;
      clear: both;
      }
      
.inhaltsbereich div.startseitenabstand {
      margin-bottom: 30px;
      clear:both;
     }
      
.inhaltsbereich div.uebersichtsabstand {
      margin-bottom: 10px;
      clear:both;
      }

.inhaltsbereich .grau    {
      color: #7A7979;
      }

.inhaltsbereich div.grauhinterlegt    {
      background-color: #DCDCD3;
      padding: 3px;
      }         

.inhaltsbereich .dunkelrot{
      color: #990000;
      font-weight:bold;
      }
  
.inhaltsbereich div.verantwortlich {
      clear: both;
      font-size: .8em;
      color: #AFAFAF;
      margin-top: 30px;
      }

.inhaltsbereich .icon {
      margin-top: 5px;
      margin-bottom: 20px;
     }

.inhaltsbereich .startseitentext {
      margin-left: 140px;
      width: 392px;
      }

.inhaltsbereich .uebersichtstext {
      margin-left: 140px;
      width: 372px;
      }

/* Bilder */

#bild{
      clear: both;
      width: 130px;
      font-size: .7em;
      color: #606060;
      background-color: #DCDCD3;      
      }
          
#bild_klein{
      clear: both;
      width: 130px;
      font-size: .7em;
      color: #606060;
      background-color: #DCDCD3;
      float: left;
      margin: 5px 10px 5px 0px;
      display: inline;
      } 
          
#bild_klein p{
      padding: 3px;
      margin: 0px;
      }             
          
#bild_gross{
      clear: both;
      width: 535px;
      font-size: .7em;
      color: #606060;
      background-color: #DCDCD3;
      margin-bottom: 10px;
      display: none;
      }  
          
#bild_gross p{
      padding: 3px;
      margin: 0px;
      }

* #bild{
      .height: 0;
      }

#bild a{
      color: #606060;
      }

.inhaltsbereich .left{
      float: left;
      margin: 5px 10px 5px 0px;
      }

.inhaltsbereich .right{
      float: right;
      margin: 5px 0px 5px 10px;
      }

#bild p{
      padding: 2px;
      margin: 0px;
      }

.inhaltsbereich .lupe {
      padding:2px;
      padding-bottom: 0px;
      margin:0px;
      float: right;
      }
      
/* Bildergalerie */

.inhaltsbereich td.galeriebild {
      border: 1px solid #EFEFE9;
      border-collapse: collapse;
      width: 25%;
      background-color: #DCDCD3;
      text-align: center;
      vertical-align: top;
      padding: 1px;
      padding-top: 2px;
      }

.inhaltsbereich td.galeriebild p {
      font-size: .8em;
      color: #606060;
      padding:2px;
      margin:0px;
      margin-top: 5px;
      text-align: left;
      }

.bild_detailansicht {
      text-align: center;
      margin-top: 35px;
      margin-bottom: 5px;
      }

.bild_detailansicht table tr td {
      text-align: left;
      background-color: #DCDCD3;
      border: 0px;
      margin: 0px;
      padding: 0px;
      }

.bild_topleiste {
      width: 530px;
      text-align: center;
      margin-bottom: 15px;
      border-bottom: 1px solid #A09F9F
      }

.bild_detailansicht td.bildunterschrift {
      color: #606060;
      padding: 5px;
      }

.bild_navigation {
      width: 530px;
      text-align: center;
      margin-top: 15px;
      border-top: 1px solid #A09F9F;
      }      

/* Auswahlbereiche im Content */

.sortierung form {
      padding: 2px;
      vertical-align: middle;
      padding-left: 25px;
      }

.sortierung select {
      vertical-align: middle;
      margin-bottom: 3px;
      }

.sortierung input {
      vertical-align: middle;
      }

.sprachauswahl   {
      vertical-align: middle;
      border-bottom:1px solid #AFAFAF;
      color:#6B6C6F;
      }

.sprachauswahl a:link, .sprachauswahl a:visited, .sprachauswahl a:hover  {
      font-size: .8em;
      color:#006633;
      font-weight: bold;
      }

.sprachauswahl form {
      padding: 2px;
      vertical-align: middle;
      padding-left: 25px;
      background-image: url(../layout/symbole/sprachauswahl.gif);
      background-repeat: no-repeat;
      background-position: 3px 6px;
      }

.sprachauswahl  select {
      vertical-align: middle;
      }

.sprachauswahl  input {
      vertical-align: middle;
      }

.auswahlbox {
      background-color: #DCDCD3;
      padding: 5px;
      }

/* Service */

.servicetitel {
      text-align: left;
      color:#000000;
      font-weight:normal;
      font-size:1em;
      text-transform: uppercase;
      border-top: 1px solid #AFAFAF;
      padding: 2px;
      padding-left: 5px;
      margin-bottom: 5px;
      }

.servicetext {
      font-size: .9em;
      padding-bottom: 5px;
      padding-left: 6px;
      color:#7E7E7E;
      margin-bottom: 15px;
      }

.servicetext a, .servicetext a:visited {
      text-decoration:none;
      color:#006633;
      }

.servicetext a span {
      text-decoration:none;
      color:#006633;
      display: none;
    }

.servicetext a:focus span, .servicetext a:active span
      {
      display: block;
      }

.servicetext a:hover {
      text-decoration:underline;
      color:#006633;
      }

.servicetext h2 {
      font-size: 1em;
      margin: 0px;
      margin-top: 10px;
      color: #7E7E7E;
      }

.servicetext h3 {
      font-size: .9em;
      margin: 0px;
      margin-top: 3px;
      color: #7E7E7E;
      font-weight: normal;
      }

.servicetext ul, .servicetext li  {
      list-style-type:none;
      margin: auto;
      margin: 0px;
      margin-right: 0px;
      margin-left: 0px;
      padding-left:0px;
      padding-bottom: 4px;
      color: #000000;
      }

.servicetext p {
      font-size: 1em;
      margin-top: 2px;
      margin-bottom: 7px;
      padding-left: 5px;
      color: #7E7E7E;
      }

.servicetext li{
      display: block;
      background-image:url(../layout/symbole/square.gif);
      background-repeat: no-repeat;
      background-position:0px 1px;
      padding-left: 14px;
      position: relative;
      background-color: #EFEFE9;
      }

.servicetext li.ausklappen {
      background-image:url(../layout/symbole/ausklappen.gif);
      padding-left: 0px;
      }          

.servicetext li.ausgeklappt {
      background-image:url(../layout/symbole/ausgeklappt.gif);
      padding-left: 0px;
      }
      
.servicetext li.ausgeklappt a, .servicetext li.ausklappen a {
      padding-left: 14px;
      }     
      
.servicetext li.ausgeklappt ul li a, .servicetext li.ausklappen ul li a {
      padding-left: 0px;
      }         
      
.servicetext li.ausklappbasis {
      background-image:none;
      padding-left: 0px;
      } 
      
.servicetext li.ausklappbasis a.zielgruppe {
      padding-left: 0px;
      }                     

.servicetext li ul {
      background-color: #EFEFE9;
      margin-bottom: 0px;
      margin-top: 0px;
      padding-top: 3px;
      }



/* Footer */

.fusszeile {
      text-align: center;
      }

.fusszeile a:link, .fusszeile a:visited {
      padding-right: 3px;
      text-decoration: none;
      font-size: .8em;
      color:#006633;
      }

.fusszeile a:hover {
      padding-right: 3px;
      text-decoration: underline;
      font-size: .8em;
      color:#006633;
      }